MANIFEST
tests/test-scratch/*
tests/test-cache/*
tests/packages/FSPkg/FSPkg.egg-info
testenv
pip.egg-info/*
ScriptTest-*.egg
virtualenv-*.egg
nose-*.egg/*
wsgi_intercept-*.egg/*
WSGIProxy-*.egg/*
WebOb-*.egg
Paste-*.egg/*
mock-*egg
tests/tests_cache/*
dist/*
docs/_build/*
build/*
*.pyc
*.pyo 
pip-log.txt
pip.log
*.~
.tox

