# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg
*.eggs
*.egg-info/
MANIFEST

# Documentation
docs/build/

# mypy
.mypy_cache/

# Unit test / coverage reports
.tox/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Misc
*~
.*.sw?

# For IntelliJ IDEs (basically PyCharm)
.idea/

# Scratch Pad for experiments
.scratch/
