Adam Wentz                                                  <awentz@theonion.com>
Alethea Flowers     <magicalgirl@google.com>       <jjramone13@gmail.com>
Alethea Flowers     <magicalgirl@google.com>       Thea Flowers <theaflowers@google.com>
Alex Grönholm                                               <alex.gronholm@nextday.fi>
Alex Grönholm       <alex.gronholm@nextday.fi>              <alex.gronholm+git@nextday.fi>
Anatoly Techtonik                                           <techtonik@gmail.com>
Andrey Bulgakov                                             <mail@andreiko.ru>
                    <mail@andreiko.ru>                      <bulgakov@tranio.ru>
Andrei Geacar       <andrei.geacar@gmail.com>      unknown  <hakaton@Anam-mbl.(none)>
Anish Tambe         <anish.tambe@yahoo.in>                  <anish.tambe@yahoo.co.in>
Bartek Ogryczak     <b.ogryczak@gmail.com>                  <bartek@eventbrite.com>
Ben Rosser                                                  <rosser.bjr@gmail.com>
                    <bradley.ayers@gmail.com>               <bradley.ayers@enigmainteractive.com>
                    <carl@oddbird.net>                      <carl@dirtcircle.com>
Daniel Holth                                                <dholth@fastmail.fm>
David Black                                                 <db@d1b.org>
                    <donald@stufft.io>                      <donald.stufft@gmail.com>
Dongweiming         <dongweiming@admaster.com.cn>           <ciici1234@hotmail.com>
Dustin Ingram       <di@di.codes>                           <di@users.noreply.github.com>
Endoh Takanao                                               <djmchl@gmail.com>
Erik M. Bray                                                <embray@stsci.edu>
Gabriel de Perthuis                                         <g2p.code@gmail.com>
Hsiaoming Yang                                              <lepture@me.com>
Hugo van Kemenade   <hugovk@users.noreply.github.com>   Hugo <hugovk@users.noreply.github.com>
Hugo van Kemenade   <hugovk@users.noreply.github.com>   hugovk <hugovk@users.noreply.github.com>
Igor Kuzmitshov     <kuzmiigo@gmail.com>                    <igor@qubit.com>
Ilya Baryshev                                               <baryshev@gmail.com>
Jakub Stasiak                                               <kuba.stasiak@gmail.com>
John-Scott Atlakson                                         <john.scott.atlakson@gmail.com>
Jorge Niedbalski                                            <niedbalski@gmail.com>
                    <niedbalski@gmail.com>                  <jorge@nimbic.com>
Ludovic Gasc        <gmludo@gmail.com>                      <git@gmludo.eu>
Markus Hametner                                             <fin+github@xbhd.org>
Masklinn                                                    <bitbucket.org@masklinn.net>
Matthew Iversen     <teh.ivo@gmail.com>                     <teh.ivo@gmail.com>
Pi Delport                                                  <pjdelport@gmail.com>
                    <pnasrat@gmail.com>                     <pnasrat@googlemail.com>
Pradyun Gedam       <pradyunsg@gmail.com>                   <pradyunsg@users.noreply.github.com>
Pradyun Gedam       <pradyunsg@gmail.com>
Preston Holmes                                              <preston@ptone.com>
Przemek Wrzos                                               <hetmankp@none>
                    <hodgestar@gmail.com>                   <hodgestar+hg@gmail.com>
Romuald Brunet      <romuald@chivil.com>                    <romuald@gandi.net>
Thomas Johansson    <devnull@localhost>            prencher <devnull@localhost>
Thomas Kluyver      <thomas@kluyver.me.uk>                  <takowl@gmail.com>
Stephan Erb         <github@stephanerb.eu>                  <stephan@dev.static-void.de>
Victor Stinner      <victor.stinner@gmail.com>              <vstinner@redhat.com>
Yoval P                                                     <yoval@gmx.com>
Zhiping Deng                                                <kofreestyler@gmail.com>
