Adam Wentz                                                  <awentz@theonion.com>
Alex Grönholm       <alex.gronholm+git@nextday.fi>          <alex.gronholm@nextday.fi>
Anatoly Techtonik                                           <techtonik@gmail.com>
Andrey Bulgakov                                             <mail@andreiko.ru>
Andrei Geacar       <andrei.geacar@gmail.com>      unknown  <hakaton@Anam-mbl.(none)>
Ben Rosser                                                  <rosser.bjr@gmail.com>
                    <carl@dirtcircle.com>                   <carl@oddbird.net>
Daniel Holth                                                <dholth@fastmail.fm>
                    <donald@stufft.io>                      <donald.stufft@gmail.com>
Endoh Takanao                                               <djmchl@gmail.com>
Erik M. Bray                                                <embray@stsci.edu>
Gabriel de Perthuis                                         <g2p.code@gmail.com>
Geoffrey Lehée                                              <geoffrey@lehee.name>
Hsiaoming Yang                                              <lepture@me.com>
Ilya Baryshev                                               <baryshev@gmail.com>
Jakub Stasiak                                               <kuba.stasiak@gmail.com>
John-Scott Atlakson                                         <john.scott.atlakson@gmail.com>
Jorge Niedbalski                                            <niedbalski@gmail.com>
Markus Hametner                                             <fin+github@xbhd.org>
Masklinn                                                    <bitbucket.org@masklinn.net>
Preston Holmes                                              <preston@ptone.com>
Przemek Wrzos                                               <hetmankp@none>
Thomas Johansson    <devnull@localhost>            prencher <devnull@localhost>
Yoval P                                                     <yoval@gmx.com>
Zhiping Deng                                                <kofreestyler@gmail.com>
