Adam Wentz                                                  <awentz@theonion.com>
Alex Grönholm                                               <alex.gronholm@nextday.fi>
Alex Grönholm       <alex.gronholm@nextday.fi>              <alex.gronholm+git@nextday.fi>
Anatoly Techtonik                                           <techtonik@gmail.com>
Andrey Bulgakov                                             <mail@andreiko.ru>
                    <mail@andreiko.ru>                      <bulgakov@tranio.ru>
Andrei Geacar       <andrei.geacar@gmail.com>      unknown  <hakaton@Anam-mbl.(none)>
Ben Rosser                                                  <rosser.bjr@gmail.com>
                    <bradley.ayers@gmail.com>               <bradley.ayers@enigmainteractive.com>
                    <carl@oddbird.net>                      <carl@dirtcircle.com>
Daniel Holth                                                <dholth@fastmail.fm>
David Black                                                 <db@d1b.org>
                    <donald@stufft.io>                      <donald.stufft@gmail.com>
Endoh Takanao                                               <djmchl@gmail.com>
Erik M. Bray                                                <embray@stsci.edu>
Gabriel de Perthuis                                         <g2p.code@gmail.com>
Geoffrey Lehée                                              <geoffrey@lehee.name>
Hsiaoming Yang                                              <lepture@me.com>
Ilya Baryshev                                               <baryshev@gmail.com>
Jakub Stasiak                                               <kuba.stasiak@gmail.com>
John-Scott Atlakson                                         <john.scott.atlakson@gmail.com>
Jorge Niedbalski                                            <niedbalski@gmail.com>
                    <niedbalski@gmail.com>                  <jorge@nimbic.com>
Markus Hametner                                             <fin+github@xbhd.org>
Masklinn                                                    <bitbucket.org@masklinn.net>
                    <pnasrat@gmail.com>                     <pnasrat@googlemail.com>
Preston Holmes                                              <preston@ptone.com>
Przemek Wrzos                                               <hetmankp@none>
                    <hodgestar@gmail.com>                   <hodgestar+hg@gmail.com>
Thomas Johansson    <devnull@localhost>            prencher <devnull@localhost>
Yoval P                                                     <yoval@gmx.com>
Zhiping Deng                                                <kofreestyler@gmail.com>
