https://github.com/msabramo/freezegun/archive/pypy_fix.zip#egg=freezegun
pretend
pytest
pytest-capturelog
pytest-cov
pytest-timeout
pytest-xdist
mock
scripttest>=1.3
https://github.com/pypa/virtualenv/archive/develop.zip#egg=virtualenv
