include AUTHORS.txt
include LICENSE.txt
include CHANGES.txt
include README.rst
include pip/_vendor/README.rst
include pip/_vendor/vendor.txt

exclude .coveragerc
exclude .mailmap
exclude .travis.yml
exclude .landscape.yml
exclude pip/_vendor/Makefile
exclude tox.ini
exclude dev-requirements.txt
exclude appveyor.yml

recursive-include pip/_vendor *.pem
recursive-include docs Makefile *.rst *.py *.bat

prune .travis
prune docs/_build
prune contrib
prune tasks
prune tests
