cryptography
freezegun
installer
pytest
pytest-cov
pytest-rerunfailures
pytest-xdist
scripttest
setuptools
virtualenv < 20.0
werkzeug
wheel
tomli-w
sphinx ~= 4.2, != 4.4.0
towncrier
furo
myst_parser
sphinx-copybutton
sphinx-inline-tabs
sphinxcontrib-towncrier >= 0.2.0a0

# Create local setuptools wheel files for testing by:
# 1. Cloning setuptools and checking out the branch of interest
# 2. Running `python3 bootstrap.py` in that directory
# 3. Running `python3 -m pip wheel --no-cache -w /tmp/setuptools_build_meta_legacy/ .`
# 4. Replacing the `setuptools` entry below with a `file:///...` URL
# (Adjust artifact directory used based on preference and operating system)

setuptools >= 40.8.0, != 60.6.0
wheel
# As required by pytest-cov.
coverage >= 4.4
