
{% load wiki %}
{% load avatar_tags %}

<tr class="{% cycle odd,even %}">
    <td class="meta">
        <div class="avatar">{% avatar article.latest_changeset.editor 40 %}</div>
        <div class="details">
            <a href="{% url profiles.views.profile article.latest_changeset.editor.username %}">
                {{ article.latest_changeset.editor }}
            </a>
        </div>
        {{ article.last_update|date }}
    </td>
    <td>
        <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
        <div class="body">{% render_content article 'summary' %}</div>
    </td>
</tr>
