cryptography
freezegun
installer
pytest
pytest-cov
pytest-rerunfailures
pytest-xdist
scripttest
setuptools
virtualenv < 20.0 ; python_version < '3.10'
virtualenv >= 20.0 ; python_version >= '3.10'
werkzeug
wheel
tomli-w
