*
!.gitignore
!*.bugfix
!*.bugfix.rst
!*.bugfix.*.rst
!*.contrib
!*.contrib.rst
!*.contrib.*.rst
!*.doc
!*.doc.rst
!*.doc.*.rst
!*.feature
!*.feature.rst
!*.feature.*.rst
!*.misc
!*.misc.rst
!*.misc.*.rst
!*.packaging
!*.packaging.rst
!*.packaging.*.rst
!*.removal
!*.removal.rst
!*.removal.*.rst
!*.trivial
!*.trivial.rst
!*.trivial.*.rst
!*.trivial
!*.vendor.rst
!*.vendor.*.rst
