<!doctype html>
<html>

<body>
  <!-- Version 1.0: One file yanked, one not (file-level yanking) -->
  <a href="../../../packages/partial-1.0-py3-none-any.whl">partial-1.0-py3-none-any.whl</a>
  <a data-yanked="bad wheel" href="../../../packages/partial-1.0.tar.gz">partial-1.0.tar.gz</a>

  <!-- Version 2.0: All files yanked (release-level yanking) -->
  <a data-yanked="security issue" href="../../../packages/partial-2.0-py3-none-any.whl">partial-2.0-py3-none-any.whl</a>
  <a data-yanked="security issue" href="../../../packages/partial-2.0.tar.gz">partial-2.0.tar.gz</a>

  <!-- Version 3.0: No files yanked -->
  <a href="../../../packages/partial-3.0-py3-none-any.whl">partial-3.0-py3-none-any.whl</a>
  <a href="../../../packages/partial-3.0.tar.gz">partial-3.0.tar.gz</a>
</body>

</html>