freezegun
mock
pathlib2; python_version < '3.4'
pretend
pytest==3.8.2
pytest-cov
pytest-rerunfailures
pytest-timeout
pytest-xdist
pyyaml
setuptools>=39.2.0  # Needed for `setuptools.wheel.Wheel` support.
scripttest
https://github.com/pypa/virtualenv/archive/master.zip#egg=virtualenv
wheel
